language: python
sudo: false
cache: pip
dist: xenial

install:
  - pip install --upgrade pip
  - pip install --upgrade --pre -r test-requirements.txt .
  - pip freeze
env:
  OAUTH2_TOKEN_URL="token_url"
  OAUTH2_USERDATA_URL="userdata_url"
script:
  - |
    if [[ "$TEST_LINT" = 1 ]]; then
      flake8 oauthenticator
    else
      py.test --cov oauthenticator oauthenticator
    fi
after_success:
  - codecov

jobs:
  include:
    # Default stage: test
    - python: 3.7
      env: TEST_LINT=1
    - python: nightly
    - python: 3.7
    - python: 3.6
    - python: 3.5
    # Only deploy if all test jobs passed
    - stage: deploy
      python: 3.7
      deploy:
        provider: pypi
        user: __token__
        password: $PYPI_TOKEN
        # Remove for deployment to official PyPi repo
        server: https://test.pypi.org/legacy/
        skip_existing: true
        on:
          tags: true
